@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Righteous&display=swap');

* {
    font-family: 'Righteous', cursive;
    background-color: #000;
    color: #fff;
}

h1{
    font-size: 45px;
    color: #e81038;
}

input{
    border-radius: 20%;
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}